src/main/resources/files/scheme1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Moto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="make" type="xs:string"/>
                <xs:element name="model" type="xs:string"/>
                <xs:element name="year" type="xs:integer"/>
                <xs:element name="power" type="xs:string"/>
                <xs:element name="engine" type="xs:string"/>
                <xs:element name="torque" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>